*{
    margin: 0px;
    padding: 0px;
}

#navbar{
    background-color: gray;
    flex-direction: row;
    display: flex;
}

#logo{
    margin: 13px 13px;
    padding: 5px 5px;
}

#nav-info{
    margin:2px 2px;
    padding: 2px 12px;
    color: white;
    font-family: 'Lato', sans-serif;
}