html,
body,
#root,
.room {
  height: 100%;
  margin: 0;
}

.room {
  margin: 40px;
  text-align: center;
  font-size: 1.5em;
}

.button {
  background-color: rgb(95, 95, 236);
  color: white;
  margin: 1em 1em;
  width: 26vw;
  height: 6vw;
}

.button2 {
  width: 26vw;
  height: 6vw;
  background-color: grey;
}

.lit {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}
